
@{
     ViewBag.Title = "TinBaiTheoLoai";
     Layout = "~/Views/Shared/LayoutMain.cshtml";
     var list = (List<Web_Girls.Models.Context.TinBai>)ViewBag.tinbai;
     string a = (string)ViewBag.loaitinbai;

}
<script src="~/Assets/Sbadmin/vendor/jquery/jquery.min.js"></script>
<div class="left_content">
     <div class="single_page">
          <ol class="breadcrumb">
               <li><a href="@Url.Action("TrangChu","Account")">Trang chủ</a></li>
               <li class="active">@a</li>
          </ol>
          @foreach (var item in list)
          {
               <div class="col-lg-12 col-md-12 col-sm-12 " style="margin-bottom: 26px;">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                         <a style="font-size: 20px;" class="catg_title" href="@Url.Action("ChiTiet","Account",new {id = item.MaTinBai })"> <img style="width: 100%;" alt="" src="~/Assets/Sbadmin/img/@item.Img"></a>

                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                         <a style="font-size: 20px;" class="catg_title" href="@Url.Action("ChiTiet","Account",new {id = item.MaTinBai })">@item.TieuDe</a>
                         <div style="width: 100%;">&nbsp;&nbsp;&nbsp;@item.NoiDungTomTat</div>
                    </div>
               </div>

          }
     <div class="col-lg-12 col-md-12 col-sm-12 pagination">
          <div style="float:right">
               @if (ViewBag.CurrentPage > 1)
               {
                    <a style="padding: 5px;font-size: 23px; padding: 5px;" href="@Url.Action("TinBaiTheoLoai","TinBai", new {id = list.FirstOrDefault().MaLoaiTinBai, page = ViewBag.CurrentPage - 1 @*, pageSize = ViewBag.PageSize*@ })">Back</a>
               }
               @for (int i = 1; i <= ViewBag.TotalPages; i++)
               {
                    if (i == ViewBag.CurrentPage)
                    {
                         <span style="border:1px solid; padding: 5px; font-size: 23px;">@i</span>
                    }
                    else
                    {
                         <a style="padding: 5px; font-size: 23px;" href="@Url.Action("TinBaiTheoLoai","TinBai", new { id = list.FirstOrDefault().MaLoaiTinBai , page = i@*, pageSize = ViewBag.PageSize*@ })">@i</a>
                    }
               }
               @if (ViewBag.CurrentPage < ViewBag.TotalPages)
               {
                    <a style="padding: 5px; font-size: 23px;" href="@Url.Action("TinBaiTheoLoai","TinBai", new { id = list.FirstOrDefault().MaLoaiTinBai ,page = ViewBag.CurrentPage + 1@*, pageSize = ViewBag.PageSize*@ })">Next</a>
               }
          </div>
     </div>
         
     </div>
</div>

