
@{
    ViewBag.Title = "KyLuatCaNhan";
    Layout = "~/Views/Shared/_LayoutCaNhan.cshtml";
    var list = (List<Web_Girls.Models.ModelsView.KyLuatView>)ViewBag.kyluat;
}
<div id="page-wrapper">
     <div style="color: #fff; padding: 16px 30px; margin: -20px -25px 10px; border-radius: 3px 3px 0 0; background: #299be4;">
          <div class="row">
               <div class="col-sm-10">
                    <h2 style="font-weight: bold">Danh sách kỷ luật</h2>
               </div>
               <!--<div class="col-sm-2">
                    <a href="@Url.Action("ThemKL","KTKL")" class="btn btn-primary" style="background-color: #ffb836;"><i class="fas fa-plus"></i> <span style="color: white">Thêm mới</span></a>-->
                    @*<a href="#" class="btn btn-secondary" style="display: none;"><i class="material-icons">&#xE24D;</i> <span>Xuất Excel</span></a>*@
                    <!--</div>-->
               <!--</div>-->
          </div>
     </div>
     <div class="table-responsive">
          <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
               <thead>
                    <tr>
                         <th style="display:none">Mã</th>
                         <th>Tên hội viên</th>
                         <th>Đơn vị</th>
                         <th>Thuộc chi hội</th>
                         <th>Hình thức kỷ luật</th>
                         <th style="width:446px">Lý do</th>
                         <th>Năm</th>
                         <th>Ghi chú</th>                     
                    </tr>
               </thead>
               <tbody>
                    @foreach (var it in list)
                    {
                         <tr>
                              <td style="display:none">@it.Ma</td>
                              <td>@it.TenHV</td>
                              <td>@it.DonVi</td>
                              <td>@it.HPN</td>
                              <td>@it.HinhThucKL</td>
                              <td>@it.LyDo</td>
                              <td>@it.Nam</td>
                              @if (it.GhiChu != null)
                              {
                                   <td>@it.GhiChu</td>
                              }
                              else if (it.GhiChu == null)
                              {
                                   <td>-</td>
                              }                           
                         </tr>
                    }
               </tbody>
          </table>        
     </div>


</div>

