
@{
     ViewBag.Title = "ThongtinHoiVien";
     if (Session["Quyen"].ToString() == "1")
     {
          Layout = "~/Views/Shared/_LayoutQuanTriCapHV.cshtml";
     }
     else if (Session["Quyen"].ToString() == "2")
     {
          Layout = "~/Views/Shared/_LayoutQuanTriCapHoi.cshtml";
     }
     var list = (List<Web_Girls.Models.ModelsView.HoiVienView>)ViewBag.list;
}
@if (!string.IsNullOrEmpty(ViewBag.OK))
{
     <script>
     // Hiển thị hộp thoại alert nếu có thông báo
      Swal.fire({
               position: 'center',
               icon: 'success',
               title: '@Html.Raw(ViewBag.OK)',
               showConfirmButton: false,
               timer: 1500
          })
     </script>
}
<div style="color: #fff; padding: 16px 30px; margin: -20px -25px 10px; border-radius: 3px 3px 0 0; background: #299be4;">
     <div class="row">
          <div class="col-sm-9 d-flex">
               @*<a><i class="fas fa-arrow-left fa-lg"></i></a>*@
               <h2 style="font-weight: bold">Danh sách hội viên @ViewBag.ten</h2>
          </div>
          <div class="col-sm-3 d-flex">
               <a href="@Url.Action("AddHoiVien","HoiVien")" class="btn btn-primary" style="background-color: #ffb836;"> <i class="fas fa-plus"></i> <span style="color: white;">Thêm mới</span></a>
               <a href="@Url.Action("InDanhSachHV","Report", new {Ma = Session["MaHoi"]})" class="btn btn-primary" style="background-color: red;"> <i class="fas fa-print"></i> <span style="color: white;">In danh sách</span></a>

               @*<a href="#" class="btn btn-secondary" style="display: none;"><i class="material-icons">&#xE24D;</i> <span>Xuất Excel</span></a>*@
               <!--</div>-->
          </div>
          <!--<div class="col-sm-7">
          <a href="#" class="btn btn-primary" style="background-color: #ffb836;"><i class="material-icons" style="color: white;">&#xE147;</i> <span style="color: white;" data-toggle="modal" data-target="#them">Thêm mới</span></a>-->
          @*<a href="#" class="btn btn-secondary" style="display: none;"><i class="material-icons">&#xE24D;</i> <span>Xuất Excel</span></a>*@
          <!--</div>-->
     </div>
</div>

<div class="table-responsive">
     <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
          <thead>
               <tr>
                    <th>Họ Và Tên</th>
                    <th>Ngày Sinh</th>
                    <th>Cấp Bậc</th>
                    <th>Trình Độ</th>
                    <th>Chức Danh</th>
                    <th>Đơn Vị</th>
                    <th>Thao Tác</th>
               </tr>
          </thead>
          <tbody>
               @foreach (var it in list)
               {
                    <tr>

                         <td>@it.TenHV</td>
                         <td>@it.NgaySinh.Value.ToString("dd/MM/yyyy")</td>
                         <td>@it.CapBac</td>
                         <td>@it.TrinhDo</td>
                         <td>@it.ChucDanh</td>
                         <td>@it.DonVi</td>
                         <td class="center" style="list-style-type: none;">
                              <li class="dropdown">
                                   <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary btn-sm" data-toggle="dropdown" type="button"><i class="fa fa-bars"></i></button>
                                   <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                             <a class="dropdown-item" href="@Url.Action("HoiVienDetails","HoiVien", new { id = it.MaHV})">
                                                  <i class="fas fa-eye fa-sm fa-fw mr-2 text-gray-400"></i>
                                                  Chi tiết
                                             </a>
                                        </li>
                                        <li>
                                             <a class="dropdown-item" href="#">
                                                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                  Cập Nhật
                                             </a>
                                        </li>
                                        <li>
                                             <a class="dropdown-item" href="#">
                                                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                                  Xóa
                                             </a>
                                        </li>
                                        @*<li class="divider"></li>

                                             <li>
                                                  <a id="xoa" onclick="xoa()"><i class="fa fa-edit"></i>&nbsp;   Xóa</a>
                                             </li>*@
                                   </ul>
                              </li>

                         </td>
                    </tr>
               }
          </tbody>
     </table>
</div>
