
@{
     ViewBag.Title = "SuaThongTin";
     Layout = "~/Views/Shared/_LayoutCaNhan.cshtml";
     var listhpn = (List<Web_Girls.Models.Context.HoiPhuNu>)ViewBag.hpn;
     var listdv = (List<Web_Girls.Models.Context.DonVi>)ViewBag.dv;
     var hv = (Web_Girls.Models.Context.HoiVien)ViewBag.hv;
}


<div id="page-wrapper">
     <div style="color: #fff; padding: 16px 30px; margin: -20px -25px 10px; border-radius: 3px 3px 0 0; background: #299be4;">
          <div class="row">
               <div class="col-sm-12">
                    <h2 style="font-weight: bold">Chỉnh sửa thông tin hội viên: @hv.TenHV</h2>
               </div>
               <!--<div class="col-sm-7">
               <a href="#" class="btn btn-primary" style="background-color: #ffb836;"><i class="material-icons" style="color: white;">&#xE147;</i> <span style="color: white;" data-toggle="modal" data-target="#them">Thêm mới</span></a>-->
               @*<a href="#" class="btn btn-secondary" style="display: none;"><i class="material-icons">&#xE24D;</i> <span>Xuất Excel</span></a>*@
               <!--</div>-->
          </div>

     </div>
     <form role="form" method="post" action="/HoiVien/SuaThongTin" class="was-validated" enctype="multipart/form-data">
          <div class="row">
               <div class="col-lg-4">
                    @if (hv.avatar != null)
                    {
                         <img class="img-profile rounded-circle img-fluid" style="height:350px;width:350px" id="preview1" src="~/Assets/Sbadmin/img/@hv.avatar">
                    }
                    else
                    {
                         <img class="img-profile rounded-circle img-fluid" style="height:350px;width:350px" id="preview1" src="~/Assets/Sbadmin/img/undraw_profile.svg">
                    }
                    <input type="file" accept="image/*" class="form-control" name="image1" id="image1">
                    <script>
                         image1.onchange = evt1 => {

                              const [file1] = image1.files

                              if (file1) {
                                   preview1.src = URL.createObjectURL(file1);
                                   $("#preview1").show();
                                   /*  clearButton1.style.display = "block";*/
                              } else {
                                   preview1.src = '/Assets/Sbadmin/img/undraw_profile.svg'; // Xóa hình ảnh
                                   $("#preview1").show();
                                   /* clearButton1.style.display = "none";*/
                              }
                         }

                    </script>
               </div>
               <div class="col-lg-4 mt-4">
                    <input type="text" style="display:none" name="MaHV" value="@hv.MaHV" />
                    <div class="col-lg-12 d-flex">
                         <div class="form-group col-lg-3 text-uppercase text-left" style="padding: 5px 5px;">
                              <label>Họ Và Tên</label>
                         </div>
                         <div class="form-group col-lg-9">
                              <input class="form-control" placeholder="Họ Và Tên" value="@hv.TenHV" name="TenHV">
                         </div>
                    </div>
                    <div class="col-lg-12 d-flex">
                         <div class="form-group col-lg-3 text-uppercase text-left" style="padding: 5px 5px;">
                              <label>Ngày Sinh</label>
                         </div>
                         <div class="form-group col-lg-9">
                              <input type="date" placeholder="01-01-1999" value="@hv.NgaySinh.Value.ToString("yyyy-MM-dd")" class="form-control" name="NgaySinh">
                         </div>
                    </div>
                    <div class="col-lg-12 d-flex">
                         <div class="form-group col-lg-3 text-uppercase text-left" style="padding: 5px 5px;">
                              <label>Dân Tộc</label>
                         </div>
                         <div class="form-group col-lg-9">

                              <input class="form-control" placeholder="Dân Tộc" value="@hv.DanToc" name="DanToc">

                         </div>
                    </div>
                    <div class="col-lg-12 d-flex">
                         <div class="form-group col-lg-3 text-uppercase text-left" style="padding: 5px 5px;">
                              <label>Email</label>
                         </div>
                         <div class="form-group col-lg-9">

                              <input class="form-control" type="email" value="@hv.Email" placeholder="Email" name="Email">

                         </div>
                    </div>
                    <div class="col-lg-12 d-flex">
                         <div class="form-group col-lg-3 text-uppercase text-left" style="padding: 5px 5px;">
                              <label>Số điện thoại</label>
                         </div>
                         <div class="form-group col-lg-9">

                              <input class="form-control" value="@hv.SDT" placeholder="Số điện thoại" name="SDT">

                         </div>
                    </div>
                    <div class="col-lg-12 d-flex">
                         <div class="form-group col-lg-3 text-uppercase text-left" style="padding: 5px 5px;">
                              <label>Đơn Vị</label>
                         </div>
                         <div class="form-group col-lg-9">

                              <select class="form-control" name="MaDV">
                                   @foreach (var it in listdv)
                                   {
                                        <option value="@it.MaDV" @(hv.MaDV == it.MaDV ? "selected" : "")>@it.TenDV</option>
                                   }

                              </select>

                         </div>
                    </div>
               </div>
               <div class="col-lg-4 mt-4">
                    <div class="col-lg-12 d-flex">
                         <div class="form-group col-lg-3 text-uppercase text-left" style="padding: 5px 5px;">
                              <label>Quê quán</label>
                         </div>
                         <div class="form-group col-lg-9">

                              <input class="form-control" placeholder="Quê quán" value="@hv.Quequan" name="QueQuan">

                         </div>
                    </div>
                    <div class="col-lg-12 d-flex">
                         <div class="form-group col-lg-3 text-uppercase text-left" style="padding: 5px 5px;">
                              <label>Nơi ở hiện nay</label>
                         </div>
                         <div class="form-group col-lg-9">

                              <input class="form-control" placeholder="Nơi ở hiện nay" value="@hv.Noiohiennay" name="NoioHienNay">

                         </div>
                    </div>
                    <div class="col-lg-12 d-flex">
                         <div class="form-group col-lg-3 text-uppercase text-left" style="padding: 5px 5px;">
                              <label>Năm Nhập Ngũ</label>
                         </div>
                         <div class="form-group col-lg-9">
                              <select class="form-control" name="NamNhapNgu">
                                   @for (int i = 1990; i < 2024; i++)
                                   {
                                        <option value="@i" @(hv.NamNhapNgu == i ? "selected" : "")>@i</option>
                                   }



                              </select>
                         </div>
                    </div>
                    @if (hv.MaLDV == 1)
                    {
                         <div class="col-lg-12 d-flex">
                              <div class="form-group col-lg-3 text-uppercase text-left" style="padding: 5px 5px;">
                                   <label>Ngày vào đảng</label>
                              </div>
                              <div class="form-group col-lg-9">
                                   @if (hv.NgayVaoDang != null)
                                   {
                                        <input type="date" placeholder="01-01-1999" class="form-control" value="@hv.NgayVaoDang.Value.ToString("yyyy-MM-dd")" name="NgayVaoDang">
                                   }
                                   else
                                   {
                                        <input type="date" placeholder="01-01-1999" class="form-control" name="NgayVaoDang">
                                   }

                              </div>
                         </div>
                         <div class="col-lg-12 d-flex">
                              <div class="form-group col-lg-3 text-uppercase text-left" style="padding: 5px 5px;">
                                   <label>Ngày chính thức</label>
                              </div>
                              <div class="form-group col-lg-9">
                                   @if (hv.NgayChinhThuc != null)
                                   {
                                        <input type="date" placeholder="01-01-1999" class="form-control" value="@hv.NgayChinhThuc.Value.ToString("yyyy-MM-dd")" name="NgayChinhThuc">
                                   }
                                   else
                                   {
                                        <input type="date" placeholder="01-01-1999" class="form-control" name="NgayChinhThuc">
                                   }
                                   
                              </div>
                         </div>
                    }
                    else if (hv.MaLDV == 2)
                    {
                         <div class="col-lg-12 d-flex">
                              <div class="form-group col-lg-3 text-uppercase text-left" style="padding: 5px 5px;">
                                   <label>Ngày vào đảng</label>
                              </div>
                              <div class="form-group col-lg-9">
                                   @if (hv.NgayVaoDang != null)
                                   {
                                        <input type="date" placeholder="01-01-1999" class="form-control" value="@hv.NgayVaoDang.Value.ToString("yyyy-MM-dd")" name="NgayVaoDang">
                                   }
                                   else
                                   {
                                        <input type="date" placeholder="01-01-1999" class="form-control" name="NgayVaoDang">
                                   }
                              </div>
                         </div>
                    }

                    @*<div class="col-lg-12 d-flex">
                              <div class="form-group col-lg-3 text-uppercase text-left" style="padding: 5px 5px;">
                                   <label>Thuộc chi hội</label>
                              </div>
                              <div class="form-group col-lg-9">
                                   <select class="js-example-basic-multiple form-control" name="MaHPN" required>
                                        <option value=""></option>
                                        @foreach (var it in listhpn)
                                        {
                                             <option value="@it.MaHPN" @(hv.MaHPN == it.MaHPN ? "selected" : "")>@it.TenHPN</option>
                                        }
                                   </select>
                              </div>

                         </div>*@


               </div>
               <div style="margin: 0 auto;">
                    <a style=" width: 157px;" class="btn btn-danger text-uppercase text-end" href="@Url.Action("ThongTinHoiVien","HoiVien",new { id = Session["Ma"]})"> Hủy</a>
                    <button style=" width: 157px;" class="btn btn-primary text-uppercase text-end" type="submit">Lưu</button>
               </div>
          </div>
     </form>
</div>
