
@{
     ViewBag.Title = "TrinhDoHoiVien";
     Layout = "~/Views/Shared/_LayoutCaNhan.cshtml";
     string capbachientai = (string)ViewBag.CapBacHienTai;
     var list = (List<Web_Girls.Models.ModelsView.LichSuTrinhDoView>)ViewBag.list;
     var hv = (Web_Girls.Models.Context.HoiVien)ViewBag.hv;
     var listtd = (List<Web_Girls.Models.Context.TrinhDo>)ViewBag.listtd;
}
<script src="~/Assets/Sbadmin/vendor/jquery/jquery.min.js"></script>
<div id="page-wrapper">
     <div class="mb-4" style="color: #fff; padding: 16px 30px; margin: -20px -25px 10px; border-radius: 3px 3px 0 0; background: #299be4;">
          <div class="row">
               <div class="col-sm-9">
                    <h2 style="font-weight: bold">Trình độ hội viên : @hv.TenHV</h2>
               </div>
          </div>
     </div>
     <div class="row">
          <div class="col-lg-12">
               <h2 style="color:black"><span style="text-transform:uppercase">Trình độ hiện tại: </span>@capbachientai</h2>
          </div>
          <div class="col-lg-12">
               <h2>Lịch sử trình độ</h2>
          </div>
          <div class="col-lg-12 d-flex">
               <div class="col-lg-8">
                    <div class="table-responsive">
                         <table class="table table-bordered text-center" id="Table" width="100%" cellspacing="0">
                              <thead>
                                   <tr>
                                        <th style="display:none">Mã</th>
                                        <th>Tên trình độ</th>
                                        <th>Chuyên ngành</th>
                                        <th>Nơi cấp</th>
                                        <th>Ngày quyết định</th>
                                        <th>Trạng thái</th>
                                        <th>Thao Tác</th>
                                   </tr>
                              </thead>
                              <tbody>
                                   @foreach (var it in list)
                                   {
                                        <tr>
                                             <td style="display:none">@it.Ma</td>
                                             <td>@it.TenTrinhDo</td>
                                             <td>@it.NganhHoc</td>
                                             <td>@it.TrươngCap</td>
                                             <td>@it.NgayQD.Value.ToString("dd/MM/yyyy")</td>
                                             @if (it.XacNhan == false)
                                             {
                                                  <td>Đang chờ xác nhận</td>
                                             }
                                             else
                                             {
                                                  <td>Đã xác nhận</td>
                                             }
                                             <td class="center" style="list-style-type: none;">
                                                  <li class="dropdown">
                                                       <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary btn-sm" data-toggle="dropdown" type="button"><i class="fa fa-bars"></i></button>
                                                       <ul class="dropdown-menu dropdown-menu-right">
                                                            <li>
                                                                 <a class="dropdown-item" id="loadModal" data-toggle="modal" data-target="#showmodal1" href="">
                                                                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                                      Cập nhật
                                                                 </a>
                                                            </li>
                                                            <li>
                                                                 <a class="dropdown-item text-danger" href="#" onclick="Xoa(@it.Ma)">
                                                                      <i class="fas fa-trash-alt mr-3"></i>
                                                                      Xóa
                                                                 </a>
                                                            </li>

                                                       </ul>
                                                  </li>

                                             </td>
                                        </tr>
                                   }
                              </tbody>
                         </table>
                    </div>
               </div>
               <div class="col-lg-3">
                    <a id="openModalBtn" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Thêm lịch sử trình độ</a>
               </div>

          </div>
          <div id="showmodal1" class="modal fade" role="dialog">
               <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="display: flex; align-items: center; height: 100%; margin-bottom: 0; margin-top: 0">

               </div>
          </div>
          <div id="myModal" class="modal fade" role="dialog">

               <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="display: flex; align-items: center; height: 100%; margin-bottom: 0; margin-top: 0">

                    <div class="modal-content">

                         <div class="modal-header">
                              <h4 class="modal-title">Thêm lịch sử trình độ</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                         </div>

                         <div class="modal-body">
                              <input type="text" value="@hv.MaHV" name="MaHV" id="MaHV" style="display:none" />
                              <div class="form-group">
                                   <label for="usr">Tên trình độ:</label>
                                   <select class="form-control" name="MaCD" id="MaTD">
                                        @foreach (var it in listtd)
                                        {
                                             <option value="@it.MaTD">@it.TenTD</option>
                                        }

                                   </select>
                              </div>
                              <div class="form-group">
                                   <label for="usr">Chuyên ngành:</label>
                                   <input type="text" class="form-control" id="ChuyenNganh" required>
                              </div>
                              <div class="form-group">
                                   <label for="usr">Nơi cấp:</label>
                                   <input type="text" class="form-control" id="NoiCap" required>
                              </div>
                              <div class="form-group">
                                   <label for="usr">Ngày quyết định:</label>
                                   <input type="date" class="form-control" id="NgayQD" required>
                              </div>
                         </div>
                         <div class="modal-footer">
                              <button type="submit" data-dismiss="modal" onclick="Them()" class="btn btn-primary">Lưu</button>
                              <a class="btn btn-default" data-dismiss="modal">Hủy bỏ</a>
                         </div>


                    </div>

               </div>

          </div>
          <script>

               function Xoa(ma) {
                    const MaHV = document.getElementById("MaHV").value;
                    Swal.fire({
                         title: 'Bạn có chắc chắn muốn xóa?',
                         showCancelButton: true,
                         confirmButtonText: 'Xóa',
                         denyButtonText: `Hủy`,
                    }).then((result) => {
                         /* Read more about isConfirmed, isDenied below */
                         if (result.isConfirmed) {
                              $.ajax({
                                   url: '/HoiVien/XoaLichSuTrinhDo',
                                   data: {
                                        ma: ma
                                   },
                                   type: 'POST',
                                   dataType: 'json',
                                   success: function (res) {
                                        if (res.status == true) {
                                             window.location.href = "/HoiVien/TrinhDoHoiVien?id=" + MaHV;
                                        }
                                   }

                              });

                         }
                    })
               }
          </script>
          <script>

               const selectElement = document.getElementById('MaTD');
               const elementToHide = document.getElementById('NoiCap');

               selectElement.addEventListener('change', (event) => {
                    const selectedOption = event.target.value;


                    if (selectedOption == 7 || selectedOption == 8) {
                         elementToHide.style.display = 'none'; // Hide the element
                    } else {
                         elementToHide.style.display = 'block'; // Show the element
                    }
               });


          </script>

          <script>

          $("#Table").on("click", "#loadModal", function () {
                     var id = $(this).closest("tr").find("td").eq(0).html();
                     console.log(id);
                     $.ajax({
                           url: '@Url.Action("SuaLichSuTrinhDo", "HoiVien")',
                           data: { Ma: id },
                           type: 'GET', // Change to 'POST' if needed
                           success: function (data) {
                                 $('#showmodal1 .modal-dialog').html(data);
                           }
                     });
          });
                                               /*  });*/
          </script>
          <script>
               const Them = () => {
                    const MaHV = document.getElementById("MaHV").value;
                    const MaTD = document.getElementById("MaTD").value;
                    const ChuyenNganh = document.getElementById("ChuyenNganh").value;
                    const NoiCap = document.getElementById("NoiCap").value;
                    const NgayQD = document.getElementById("NgayQD").value;
                    if (MaTD == "" || NgayQD == "" || ChuyenNganh == "") {
                         alert("Vui lòng nhập đầy đủ thông tin.");
                    }
                    if (MaTD != 7 && MaTD != 8) {
                         if (NoiCap == "") {
                              alert("Vui lòng nhập đầy đủ thông tin.");
                         }
                    }
                    $.ajax({
                         type: "POST",
                         url: "/HoiVien/ThemLichSuTrinhDo", // Replace with the appropriate URL for your controller action

                         data: {
                              MaHV: MaHV,
                              MaTD: MaTD,
                              ChuyenNganh: ChuyenNganh,
                              NoiCap: NoiCap,
                              NgayQD: NgayQD,
                         },
                         dataType: 'json',
                         success: function (response) {
                              // Handle the response from the server
                              if (response.status == true) {
                                   alert("Thay đổi của bạn đã được gửi đi và đang chờ xác nhận.");
                                   window.location.href = "/HoiVien/TrinhDoHoiVien?id=" + MaHV;
                              } else if (response.status == false) {
                                   if (response.data == "0") {
                                        alert("Bạn có 1 yêu cầu thay đổi trình độ đang chờ xác nhận.Hãy thử lại sau.");
                                   } else if (response.data == "1") {
                                        alert("Trinh độ bạn vừa chọn đã tồn tại trong lịch sử chức danh của bạn.");
                                   }

                              }
                         }
                    });


               }
          </script>
     </div>

</div>




