
@{
     ViewBag.Title = "TatCaTaiKhoan";
     Layout = "~/Views/Shared/_LayoutQuanTriCapHV.cshtml";
     var list = (List<Web_Girls.Models.ModelsView.TaiKhoanView>)ViewBag.dstk;
}
@if (!string.IsNullOrEmpty(ViewBag.OK))
{
     <script>
          Swal.fire({
               position: 'center',
               icon: 'success',
               title: '@Html.Raw(ViewBag.OK)',
               showConfirmButton: false,
               timer: 1500
          })
        // Hiển thị hộp thoại alert nếu có thông báo
        @*alert('@Html.Raw(ViewBag.Khoa)');*@
     </script>
}
<script src="~/Assets/Sbadmin/vendor/jquery/jquery.min.js"></script>
<div style="color: #fff; padding: 16px 30px; margin: -20px -25px 10px; border-radius: 3px 3px 0 0; background: #299be4;">
     <div class="row">
          <div class="col-sm-12">
               <h2 style="font-weight: bold">Danh sách tài khoản</h2>
          </div>
          <!--<div class="col-sm-7">
          <a href="#" class="btn btn-primary" style="background-color: #ffb836;"><i class="material-icons" style="color: white;">&#xE147;</i> <span style="color: white;" data-toggle="modal" data-target="#them">Thêm mới</span></a>-->
          @*<a href="#" class="btn btn-secondary" style="display: none;"><i class="material-icons">&#xE24D;</i> <span>Xuất Excel</span></a>*@
          <!--</div>-->
     </div>
</div>
<div class="table-responsive">
     <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
          <thead>
               <tr>
                    <th>Khóa</th>
                    <th>Tên hội viên</th>
                    <th>Tên đăng nhập</th>
                    <th>Mật khẩu</th>
                    <th>Quyền</th>
                    <th>Lần đăng nhập cuối</th>
                    <th></th>
               </tr>
          </thead>
          <tbody>
               @foreach (var it in list)
               {
                    <tr>
                         @if (it.Khoa == true)
                         {
                              <td><input type="checkbox" data-id="@Html.Raw(it.MaHV)" class="checkbox-item" @*class="form-check-input" id="check1" name="option1" value="something"*@ checked></td>
                         }
                         else
                         {
                              <td><input type="checkbox" data-id="@Html.Raw(it.MaHV)" class="checkbox-item" @*class="form-check-input" id="check1" name="option1" value="something"*@></td>
                         }
                         <td>@it.TenHV</td>
                         <td>@it.TenDN</td>
                         <td>@it.MatKhau</td>
                         @if (it.Quyen == 1)
                         {
                              <td>Quản trị cấp Học viện</td>
                         }
                         else if (it.Quyen == 2)
                         {
                              <td>Hội trưởng</td>
                         }
                         else if (it.Quyen == 3)
                         {
                              <td>Hội viên</td>
                         }

                         <td>@it.EditTime</td>
                         <td class="center" style="list-style-type: none;">
                              <li class="dropdown">
                                   <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary btn-sm" data-toggle="dropdown" type="button"><i class="fa fa-bars"></i></button>
                                   <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                             <a class="dropdown-item" id="loadModal" data-toggle="modal" data-target="#showmodal">
                                                  <i class="fas fa-edit mr-3"></i>
                                                  Cập nhật
                                             </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                             <a class="dropdown-item" href="">
                                                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                                  Xóa
                                             </a>
                                        </li>
                                   </ul>
                              </li>

                         </td>


                    </tr>
               }
               <script>
                             const checkboxList = document.querySelectorAll('.checkbox-item')
                                checkboxList.forEach(checkbox => {
                                   checkbox.addEventListener('click', (event) => {
                                        event.preventDefault();
                                        const mahv = checkbox.getAttribute('data-id');
                                        if (event.target.checked) {
                                             Swal.fire({
                                                  title: 'Bạn có chắc chắn muốn khóa tài khoản này?',
                                                  icon: 'question',
                                                  showCancelButton: true,
                                                  confirmButtonText: 'Khóa',
                                                  denyButtonText: `Hủy`,
                                             }).then((result) => {
                                                  if (result.isConfirmed) {
                                                       const lockUrl = '@Url.Action("LockAccount", "Account")' + '?ma=' + mahv;
                                                      window.location.href = lockUrl;
                                                  }
                                             })
                                        } else {
                                             Swal.fire({
                                                  title: 'Bạn có chắc chắn muốn mở khóa tài khoản này?',
                                                  icon: 'question',
                                                  showCancelButton: true,
                                                  confirmButtonText: 'Mở khóa',
                                                  denyButtonText: `Hủy`,
                                             }).then((result) => {

                                                  if (result.isConfirmed) {
                                                       const lockUrl = '@Url.Action("UnLockAccount", "Account")' + '?ma=' + mahv;
                                                      window.location.href = lockUrl;
                                                  }
                                             })
                                        }
                                   });
                              });
               </script>
          </tbody>
     </table>
     <div id="showmodal" class="modal fade" role="dialog">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="display: flex; align-items: center; height: 100%; margin-bottom: 0; margin-top: 0">

          </div>
     </div>
     <script>
                    $("#dataTable").on("click", "#loadModal", function () {
                          var id = $(this).closest("tr").find("td").eq(2).html();
                          console.log(id);
                          $.ajax({
                                url: '@Url.Action("CapNhatQuyen","Account")',
                                data: { ma: id },
                                type: 'GET', // Change to 'POST' if needed
                                success: function (data) {
                                      $('#showmodal .modal-dialog').html(data);
                                }
                          });
                   });
     </script>
</div>



