
@{
    ViewBag.Title = "Index";
    if (Session["Quyen"].ToString() == "1")
    {
        Layout = "~/Views/Shared/_LayoutQuanTriCapHV.cshtml";
    }
    else if (Session["Quyen"].ToString() == "2")
    {
        Layout = "~/Views/Shared/_LayoutQuanTriCapHoi.cshtml";
    }
    var sh = (List<Web_Girls.Models.ModelsView.SinhHoatView>)ViewBag.sinhhoat;
    var hoivienList = (List<Web_Girls.Models.ModelsView.HoiVienHPNView>)ViewBag.hoivienList;
    var loaish = (List<Web_Girls.Models.Context.LoaiSinhHoat>)ViewBag.loaisinhhoat;
    var noidung = (List<Web_Girls.Models.Context.SinhHoat>)ViewBag.noidung;


}
<script src="~/Assets/Sbadmin/vendor/jquery/jquery.min.js"></script>
<div id="page-wrapper">
    <div style="color: #fff; padding: 16px 30px; margin: -20px -25px 10px; border-radius: 3px 3px 0 0; background: #299be4;">
        <div class="row">
            <div class="col-sm-10 d-flex">
                @*<a><i class="fas fa-arrow-left fa-lg"></i></a>*@
                <h2 style="font-weight: bold">Danh sách sinh hoạt</h2>
            </div>
            <div class="col-sm-2">
                <a href="#" class="btn btn-primary" style="background-color: #ffb836;"> <i class="fas fa-plus"></i> <span style="color: white;" data-toggle="modal" data-target="#them">Thêm mới</span></a>

                @*<a href="#" class="btn btn-secondary" style="display: none;"><i class="material-icons">&#xE24D;</i> <span>Xuất Excel</span></a>*@
                <!--</div>-->
            </div>

        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th style="display:none">Mã</th>
                    <th>Tên sinh hoạt</th>
                    <th>Ngày sinh hoạt</th>
                    <th>Số người vắng</th>
                    <th style="width:300px">Nội dung sinh hoạt</th>
                    <th>Đơn vị tổ chức</th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                @foreach (var it in sh)
                {
                    <tr>
                        <td style="display:none">@it.Ma</td>
                        <td>@it.TenSinhHoat</td>
                        <td>@it.NgaySinhHoat.Value.ToString("dd/MM/yyyy")</td>
                        @if (it.SoLuongVang == null)
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@it.SoLuongVang.Value.ToString("N0") Người</td>
                        }
                        <td><a id="loadModal" data-toggle="modal" data-target="#showmodal1" class="btn btn-outline-primary">Nội dung sinh hoạt</a></td>
                        <td>@it.DVToChuc</td>
                        <td class="center" style="list-style-type: none;">
                            <li class="dropdown">
                                <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary btn-sm" data-toggle="dropdown" type="button"><i class="fa fa-bars"></i></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    @if (Session["Quyen"].ToString() == "1")
                                    {
                                        if (it.MaHoi == 0)
                                        {
                                            <li>
                                                <a class="dropdown-item" id="loadModal1" data-toggle="modal" data-target="#showmodal2">
                                                    <i class="fas fa-edit mr-3"></i>
                                                    Cập Nhật
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item text-danger" href="#" onclick="Xoa(@it.Ma)">
                                                    <i class="fas fa-trash-alt mr-3"></i>
                                                    Xóa
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a class="dropdown-item text-danger" href="#" onclick="Xoa(@it.Ma)">
                                                    <i class="fas fa-trash-alt mr-3"></i>
                                                    Xóa
                                                </a>
                                            </li>
                                        }
                                    }

                                    @if (Session["Quyen"].ToString() == "2")
                                    {
                                        if (it.MaHoi != 0)
                                        {
                                            <li>
                                                <a class="dropdown-item" id="loadModal1" data-toggle="modal" data-target="#showmodal2">
                                                    <i class="fas fa-edit mr-3"></i>
                                                    Cập Nhật
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item text-danger" href="#" onclick="Xoa(@it.Ma)">
                                                    <i class="fas fa-trash-alt mr-3"></i>
                                                    Xóa
                                                </a>
                                            </li>
                                        }

                                    }
                                </ul>
                            </li>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="showmodal1" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document" style="display: flex; align-items: center; height: 100%; margin-bottom: 0; margin-top: 0">
              
            </div>
        </div>
        <div id="showmodal2" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document" style="display: flex; align-items: center; height: 100%; margin-bottom: 0; margin-top: 0">

            </div>
        </div>
        <div class="modal fade" id="them" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Thêm sinh hoạt</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="usr">Sinh hoạt:</label>
                            <select class="form-control" id="TenSH" required>
                                <option></option>
                                @foreach (var it in loaish)
                                {
                                    <option value="@it.MaLoaiSinhHoat">@it.TenSinhHoat</option>
                                }

                            </select>
                        </div>
                        @if (Session["Quyen"].ToString() == "1")
                        {
                            <div class="form-group" style="display:none">
                                <label for="usr">Tên sinh hoạt:</label>
                                <input type="text" class="form-control" id="MaHPN" value="0" placeholder="Tên sinh hoạt" autocomplete="off">
                            </div>
                        }
                        else if (Session["Quyen"].ToString() == "2")
                        {
                            <div class="form-group" style="display:none">
                                <label for="usr">Tên sinh hoạt:</label>
                                <input type="text" class="form-control" id="MaHPN" value="@Session["MaHoi"]" placeholder="Tên sinh hoạt" autocomplete="off">
                            </div>
                        }
                        <div class="form-group" id="NgaySHGroup">
                            <label for="NgaySH">Ngày sinh hoạt:</label>
                            <input type="date" class="form-control" id="NgaySH" placeholder="Ngày sinh hoạt" autocomplete="off">
                        </div>
                        <div class="form-group" id="SoLuongVangGroup">
                            <label for="SoLuongVang">Số người vắng:</label>
                            <input type="number" class="form-control" id="SoLuongVang" placeholder="Số người vắng" autocomplete="off">
                        </div>
                        <div class="form-group" id="noidungGroup">
                            <label for="noidung">Nội dung sinh hoạt:</label>
                            <textarea class="form-control" id="noidung" placeholder="Nội dung sinh hoạt" autocomplete="off"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <a type="button" class="btn btn-primary" onclick="ThemSinhHoat()">Thêm sinh hoạt</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal" @*data-toggle="modal" data-target="#error"*@>Hủy bỏ</button>
                    </div>
                </div>

            </div>
        </div>

        <script>
            function ThemSinhHoat() {
                const TenSH = document.getElementById("TenSH").value;
                const NgaySH = document.getElementById("NgaySH").value;
                const MaHPN = document.getElementById("MaHPN").value;
                const SoLuongVang = document.getElementById("SoLuongVang").value;
                const noidung = document.getElementById("noidung").value;
                    if (TenSH == "" || NgaySH == "" || SoLuongVang == "" || noidung == "") {
                          alert("Vui lòng nhập đầy đủ thông tin.");
                          window.location.href = "/SinhHoat/Index?ma=" + MaHPN;
                }
                console.log("tensh", TenSH, NgaySH, MaHPN, SoLuongVang, noidung)
                    $.ajax({
                        url: "/SinhHoat/ThemSinhHoat",
                         data: {
                             TenSH: TenSH,
                             NgaySH: NgaySH,
                             SoLuongVang: SoLuongVang,
                             noidung: noidung,
                             MaHPN: MaHPN
                         },
                         type: 'POST',
                         dataType: 'json',
                         success: function (res) {
                              if (res.status == true) {
                                   Swal.fire({
                                        position: 'center',
                                        icon: 'success',
                                        title: 'Thêm thành công',
                                        showConfirmButton: false,
                                        timer: 6000
                                   })
                                   window.location.href = "/SinhHoat/Index?ma=" + MaHPN;
                              }
                         }
                    });
                }
               function Xoa(ma) {
                 const MaHPN = document.getElementById("MaHPN").value;
                    Swal.fire({
                         title: 'Bạn có chắc chắn muốn xóa?',
                         showCancelButton: true,
                         confirmButtonText: 'Xóa',
                         denyButtonText: `Hủy`,
                    }).then((result) => {
                         /* Read more about isConfirmed, isDenied below */
                         if (result.isConfirmed) {
                              $.ajax({
                                   url: '/SinhHoat/XoaSinhHoat',
                                   data: {
                                        ma: ma
                                   },
                                   type: 'POST',
                                   dataType: 'json',
                                   success: function (res) {
                                        if (res.status == true) {
                                             Swal.fire({
                                                  position: 'center',
                                                  icon: 'success',
                                                  title: 'Đã xóa',
                                                  showConfirmButton: false,
                                                  timer: 10000
                                             })
                                             window.location = '@Url.Action("Index","SinhHoat")'+ '?ma=' + MaHPN;
                                        } else if (res.status == false) {
                                             Swal.fire({
                                                  position: 'center',
                                                  icon: 'error',
                                                  title: 'Chưa xóa được',
                                                  showConfirmButton: false,
                                                  timer: 6000
                                             })
                                        }
                                   }

                              });

                         }
                    });
                     }
        </script>
        <script>
                    $("#dataTable").on("click", "#loadModal1", function () {
                          var id = $(this).closest("tr").find("td").eq(0).html();
                          console.log(id);
                          $.ajax({
                               url: '@Url.Action("SuaSinhHoat","SinhHoat")',
                                data: { ma: id },
                                type: 'GET', // Change to 'POST' if needed
                                success: function (data) {
                                      $('#showmodal2 .modal-dialog').html(data);
                                }
                          });
                   });
        </script>
        <script>
          $("#dataTable").on("click", "#loadModal", function () {
                var id = $(this).closest("tr").find("td").eq(0).html();
              console.log(id);
             $.ajax({
                   url: '@Url.Action("ThamGia","SinhHoat")',
                   data: { ma: id },
                   type: 'GET', // Change to 'POST' if needed
                   success: function (data) {
                         $('#showmodal1 .modal-dialog').html(data);
                   }
             });
         });
        </script>
    </div>

</div>
