@{
    var sh = (Web_Girls.Models.Context.SinhHoat)ViewBag.sh;
    var loaish = (List<Web_Girls.Models.Context.LoaiSinhHoat>)ViewBag.loaish;
}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Cập nhật thông tin sinh hoạt</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <form id="frmSuaHang" method="post" action="/SinhHoat/SuaSinhHoat">
        <div class="modal-body">
            <input type="text" name="MaSinhHoat" style="display:none" value="@sh.MaSinhHoat">

            <div class="form-group">
                <label for="NgaySinhHoat">Ngày sinh hoạt:</label>
                @if (sh.NgaySinhHoat != null)
                {
                    <input type="date" class="form-control" name="NgaySinhHoat" value="@sh.NgaySinhHoat.Value.ToString("yyyy-MM-dd")">
                }
                else
                {
                    <input type="date" class="form-control" name="NgaySinhHoat">
                }
            </div>

            <div class="form-group">
                <label for="SoLuongVang">Số người vắng:</label>
                <input type="number" class="form-control" value="@sh.SoLuongVang" name="SoLuongVang">
            </div>
            <div class="form-group">
                <label for="NoiDung">Nội dung sinh hoạt:</label>
                <textarea style="padding: 10px 0" class="form-control" name="NoiDung">@sh.NoiDung</textarea>
            </div>

            @if (Session["Quyen"].ToString() == "1")
            {
                <input class="form-control" value="0" name="MaHoi" style="display:none">
            }
            else if (Session["Quyen"].ToString() == "2")
            {
                <input class="form-control" value="@Session["MaHoi"]" name="MaHoi" style="display:none">
            }

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" href="#">Thay đổi</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>

        </div>
    </form>
</div>
